$background-color: #222;
$text-color: #fff;

$select-screen-button: #313131;
$background-danger-color-1: #e82711;
$background-danger-color-2: #9b2d23;
$text-danger-color: #fff;

$background-warning-color-1: #eeae32;
$background-warning-color-2: #ff9618;
$text-warning-color: #fff;

@-webkit-keyframes status-warning-background {
  0%   { background-color: $background-warning-color-1; }
  50%  { background-color: $background-warning-color-2; }
  100% { background-color: $background-warning-color-1; }
}
@-webkit-keyframes status-danger-background {
  0%   { background-color: $background-danger-color-1; }
  50%  { background-color: $background-danger-color-2; }
  100% { background-color: $background-danger-color-1; }
}

@mixin animation($animation-name, $duration, $function, $animation-iteration-count:""){
  -webkit-animation:  $animation-name $duration $function #{$animation-iteration-count};
  -moz-animation:     $animation-name $duration $function #{$animation-iteration-count};
  -ms-animation:      $animation-name $duration $function #{$animation-iteration-count};
}